@use "functions" as *;
@use "variables" as *;

.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  text-align: center;

  h1 {
    margin-bottom: rem(30);
  }
}

.list-of-categories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
