@use "functions" as *;
@use "variables" as *;

.category-delete-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  text-align: center;

  p {
    font-size: rem(20);
  }

  button {
    min-width: rem(300);
    padding: rem(5) 0;
    font-size: rem(25);
    font-weight: 700;
    color: var(--white);
    background-color: var(--pink);
    border: none;
    border-radius: rem(5);
    cursor: pointer;
  }
}

.delete-products-warning {
  width: 100%;
  margin: rem(30) 0;
  font-size: rem(20);
  font-weight: 700;
}
