@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --font-signature: "Marck Script", cursive;
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --blue: rgb(90, 169, 230);
  --pink: rgb(255, 179, 198);
}
